a
{
	text-decoration: none;

}

header a

{
	color: black
}

footer a

{
	color: white
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
}

#container {
	width: 100%;
	max-width: 1200px;
}

header {
	display: flex;
	justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
	display: flex;
    align-items: center;
}

nav li {
	list-style: none;
	padding-left: 30px;
}

main {
	margin-top: 0px;
}

#banniere {
	height: 450px;
	position: relative;
}

#banniereImg {
	position: absolute;
	width: 100%;
    height: 100%;
}

#banniereImg img {
	object-fit: cover;
}

#banniereContent {
	position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}

#banniereContentLogo {
    width: 200px;
}

#banniereContent h1 {
	color: white;
	font-weight: 400;
}

#presentation {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#presentationIntroduction, #presentationSkills {
	margin-top: 30px;
	max-width: 800px;
}

#presentationIntroduction p {
	color: rgb(87,87,87);
	font-size: 1.4em;
	text-align: center;
}

#presentationSkills {
	display: flex;
	justify-content: space-around;
}

#presentationSkills article {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 20px 0 20px;
}

#presentationSkills h2 {
	font-size: 1.4em;
	font-weight: 400
;    text-transform: uppercase;
}

#presentationSkills p {
	font-size: 0.8em;
	text-align: center;
}

#temoignage  {
	max-width: 600px;
	margin-top: 40px
}

#temoin
{
	text-align: center;
	color: rgb(76, 71, 71);
	font-size: 1.2em;
}

#auteur

{
	text-align: center;
	color:rgb(117, 111, 111)
}



footer
{
    background-color:#5b359d;
	color: white
}


footer h2
{
    text-align: center;
	padding-top: 20px;
	font-size: 0.7em;
}

footer h3
{
	color: grey
}

#reseaux

{
	display: flex;
	justify-content: center;
	opacity: 0.4;
	margin-top: -10px;
	
}

#pieddetete

{
	display: flex;
	justify-content: space-around;
	
}

#pieddetete p
{
	display: flex;
		margin-left: 20px;
}

