body
{
    width: 100%;
    max-width: 1400px;
}

body {
	font-family: 'Roboto', sans-serif;
    max-width: 1400px;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: grey;
    align-items: center;
    
}
nav ul
{
    list-style-type: none;
}

footer ul

{
    list-style-type: none;
}

nav
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul
{
    display: flex;    
    justify-content: center;
}

nav li

{
    padding-left: 30px;
}

header + ul
{
    background-color: grey;
}
#tete
{
    background-color: grey;
}

#banniereImg img
{
   max-width: 1400px;
   
}

#banniere
{
    position:relative
}

#bannierecontent
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

#presentation {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#presentationSkills {
	display: flex;
	justify-content: space-around;
}

#presentationSkills article {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 20px 0 20px;
}

#temoignage 
{
    text-align: center;
}

#temoignage p
{
    font-size: 1.3em
}

footer
{
    background-color: purple;
    color: white
}
footer nav
 {
     color: white
 }

 footer a 
 {
     color: white
 }


#copyright
{
    text-align: center;
}

#pieddetete

{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}